.nav-link.active{
    color:#DDD23B !important ;
}
.top-nav-collapse{
    background:linear-gradient(0.25turn, rgba(27, 30, 201, 0.603), rgba(74, 6, 129, 0.808), rgba(56, 2, 155, 0));
}
:root {
    --color-mode: "light";
    --body-bg-color: #eee;
    --board-bg-color: #fff;
    --text-color: #3c4858;
    --sec-text-color: #718096;
    --post-text-color: #2c3e50;
    --post-heading-color: #1a202c;
    --post-link-color: #0366d6;
    --link-hover-color: #DDD23B !important;
    --link-hover-bg-color: #f8f9fa;
    --line-color: #eaecef;
    --navbar-bg-color: #2f4154;
    --navbar-text-color: #fff;
    --subtitle-color: #fff;
    --scrollbar-color: #DDD23B !important;
    --scrollbar-hover-color: #a6a6a6;
    --button-bg-color: transparent;
    --button-hover-bg-color: #f2f3f5;
    --highlight-bg-color: #f6f8fa;
    --inlinecode-bg-color: rgba(175,184,193,0.2);
  }